.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imgBlock{
  width: 50%;
  margin: 10px auto;
}

img{
  border: solid 20px;
  width: 100%;
}

img:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

button{
  color: white;
  background-color: rgb(54, 54, 54);
  margin: 5px;
}

button:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color:rgb(104, 10, 10);
  cursor: pointer;
}

.caption{
  font-style: italic;
}

.subField{
  width: 40%;
  margin: 5px;
}

.subField:hover{
  background-color: rgb(240, 240, 240);
}

h1{
  font-size: 30px;
}